.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.navbar__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.navbar__welcome {
  color: #6b7280;
}
