*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-transform: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
